<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>
    <p><a id="btnShowLogin" class="btn btn-lg btn-success" ng-href="#/" ng-click="clickLogin()">Login!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div id="alertLoggedIn" class="alert alert-success" role="alert" ng-if="showLoginSuccess">You are now logged in</div>
<div id="panelLogin" class="panel panel-primary" ng-if="showLoginPanel">
    <div class="panel-heading"><h3 class="panel-title">Login</h3></div>
    <div class="panel-body">
        <div id="alertRequiredFields" class="alert alert-danger" role="alert" ng-if="showValidationError">Email address and Password fields are
            required <span class="glyphicon glyphicon-remove"></span>.
        </div>
        <div id="alertLoginFailed" class="alert alert-danger" role="alert" ng-if="showLoginError">Invalid Credentials <span
                class="glyphicon glyphicon-remove"></span>.
        </div>
        <form id="frmLogin" class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Email address" ng-model="user.email">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="user.password">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button id="btnDoLogin" class="btn btn-lg btn-primary btn-block" type="submit" ng-click="clickDoLogin()">Sign in</button>
        </form>
    </div>
</div>
